<div
    class="w-full h-screen flex justify-center items-center bg-center bg-repeat relative"
    style="background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 1)), url('https://wallpapercave.com/wp/wp6233356.jpg');"
>
    <div class="absolute inset-0 backdrop-blur-[5px]"></div>
    <div class="relative flex flex-col justify-center items-center text-white gap-y-10 px-10">
        <img class="h-[1/2] sm:h-40" src="https://images.squarespace-cdn.com/content/v1/59f9fd598dd041efb30730d8/1562618811254-QWIEW0JF4CEGQCOA5RCF/ke17ZwdGBToddI8pDm48kJyrxlEDyF7iO1wX5s0kOEVZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpxL1WcwXOb3xzrYhDdB-H0c0jCx1RNV4uaOu5Enq_WX6fX_QYXCZS9Oix0phZS9Sd8/6274-spotify-logo-horizontal-white-rgb.png" />
        <.form
            for={}
            id="login_form"
            action={~p"/login"}
            phx-update="ignore"
        >
            <button
                type="submit"
                class="w-[200px] sm:w-[300px] h-[40px] sm:h-[50px] bg-white text-black text-sm sm:text-md font-semibold rounded-full">LOG IN WITH SPOTIFY
            </button>
        </.form>
    </div>
</div>
